<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="zxx">
  <head>
    <meta charset="utf-8" />
    <title>Agen | Bootstrap Agency Template</title>

    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />

    <!-- theme meta -->
    <meta name="theme-name" content="agen" />

    <!-- ** Plugins Needed for the Project ** -->
    <!-- Bootstrap -->
    <!-- slick slider -->
    <link rel="stylesheet" href="plugins/slick/slick.css" />
    <!-- themefy-icon -->
    <link rel="stylesheet" href="plugins/themify-icons/themify-icons.css" />
    <!-- venobox css -->
    <link rel="stylesheet" href="plugins/venobox/venobox.css" />
    <!-- card slider -->
    <link rel="stylesheet" href="plugins/card-slider/css/style.css" />

    <!-- Main Stylesheet -->
    <link href="../css/style.css" rel="stylesheet" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    <!--Favicon-->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/fontawesome-iconpicker/3.2.0/js/fontawesome-iconpicker.min.js"
    />
  </head>

  <body>
    <header class="navigation fixed-top">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand logo-nav" href="/" style="font-size: 32px"
          >Event Bliss</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navigation"
          aria-controls="navigation"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="collapse navbar-collapse justify-content-end text-center"
          id="navigation"
        >
          <ul class="navbar-nav ml-auto">
            <li class="nav-item" style="padding-left: 20px">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item" style="padding-left: 20px">
              <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item" style="padding-left: 20px">
              <a class="nav-link" href="#services">Services</a>
            </li>
            <li class="nav-item" style="padding-left: 20px">
              <a class="nav-link" href="#blog">Blog</a>
            </li>
            <li class="nav-item" style="padding-left: 20px">
              <a class="nav-link" href="#portfolio">Portfolio</a>
            </li>
            <li class="nav-item" style="padding-left: 20px">
              <a class="nav-link" href="/login">Login</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <!-- banner -->
    <section
      class="d-flex justify-content-center align-items-center bg-img"
      data-background="/images/banner/banner2.jpg"
    >
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h1 class="display-1 text-white font-weight-bold font-primary">
              Event Bliss
            </h1>
          </div>
        </div>
      </div>
    </section>
    <!-- /banner -->

    <!-- service -->
    <section class="section">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto text-center">
            <h2 class="section-title">Why Us?</h2>
            <p class="lead">
              At Event Bliss Co. , we specialize in turning your event dreams
              into seamless realities. With 10 years of experience, we offer
              tailored solutions, comprehensive services, and a client-centric
              approach. Our strong vendor relationships, creative innovation,
              and commitment to exceeding expectations set us apart. Trust us to
              handle the details while you enjoy a stress-free, memorable event.
              Choose Event Bliss Co. for event planning excellence.
            </p>
            <div class="section-border"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="card hover-bg-secondary shadow py-4 active">
              <div class="card-body text-center">
                <div class="position-relative">
                  <i
                    class="icon-lg icon-box bg-gradient-primary rounded-circle ti-palette mb-5 d-inline-block text-white"
                  ></i>
                  <i class="icon-lg icon-watermark text-white ti-palette"></i>
                </div>
                <h4 class="mb-4">Personalized Approach</h4>
                <p>
                  We understand that no two events are the same, and we tailor
                  our services to suit your unique preferences and style
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="card hover-bg-secondary shadow py-4">
              <div class="card-body text-center">
                <div class="position-relative">
                  <i
                    class="icon-lg icon-box bg-gradient-primary rounded-circle ti-dashboard mb-5 d-inline-block text-white"
                  ></i>
                  <i class="icon-lg icon-watermark text-white ti-dashboard"></i>
                </div>
                <h4 class="mb-4">Vendor Network</h4>
                <p>
                  With a vast network of trusted vendors and industry
                  connections, we can secure the best services at competitive
                  rates
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="card hover-bg-secondary shadow py-4">
              <div class="card-body text-center">
                <div class="position-relative">
                  <i
                    class="icon-lg icon-box bg-gradient-primary rounded-circle ti-announcement mb-5 d-inline-block text-white"
                  ></i>
                  <i
                    class="icon-lg icon-watermark text-white ti-announcement"
                  ></i>
                </div>
                <h4 class="mb-4">Budget-Friendly Options</h4>
                <p>
                  We work with a range of budgets, making high-quality event
                  planning accessible to all
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /service -->

    <!-- feature -->
    <section class="section bg-secondary position-relative">
      <div class="bg-image overlay-secondary">
        <img src="../images/feature.jpg" alt="bg-image" />
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="row align-items-center">
              <div class="col-lg-4 mb-4 mb-lg-0">
                <img
                  src="../images/feature.jpg"
                  alt="feature-image"
                  class="img-fluid"
                />
              </div>
              <div class="col-lg-7 offset-lg-1">
                <div class="row">
                  <div class="col-12">
                    <h2 class="text-white">We Value Your Time and Money</h2>
                    <div class="section-border ml-0"></div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="media">
                      <i class="icon text-gradient-primary ti-vector mr-3"></i>
                      <div class="media-body">
                        <h4 class="text-white">Budget-Friendly Solutions</h4>
                        <p class="text-light">
                          We're mindful of your budget constraints and work
                          diligently to provide cost-effective solutions without
                          compromising on quality or creativity.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="media">
                      <i class="icon text-gradient-primary ti-layout mr-3"></i>
                      <div class="media-body">
                        <h4 class="text-white">Efficient Planning</h4>
                        <p class="text-light">
                          We respect your time and strive to make the event
                          planning process as efficient as possible. Our
                          experienced team handles all the details, allowing you
                          to focus on what matters most to you
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="media">
                      <i
                        class="icon text-gradient-primary ti-headphone-alt mr-3"
                      ></i>
                      <div class="media-body">
                        <h4 class="text-white">Transparent Communication</h4>
                        <p class="text-light">
                          We maintain open and transparent communication
                          throughout the planning process, ensuring you're
                          always informed about progress and any adjustments
                          made to stay within your budget and timeline
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="media">
                      <i
                        class="icon text-gradient-primary ti-ruler-pencil mr-3"
                      ></i>
                      <div class="media-body">
                        <h4 class="text-white">Time-Saving Expertise</h4>
                        <p class="text-light">
                          With our expertise and industry connections, we
                          streamline the planning process, saving you time and
                          effort.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /feature -->

    <!-- team -->
    <section class="section">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto text-center">
            <h2>Our Team</h2>
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p> -->
            <div class="section-border"></div>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-3 col-sm-6">
            <div class="card hover-shadow">
              <img
                src="../images/Krishna.jpeg"
                alt="team-member"
                class="card-img-top"
              />
              <div class="card-body text-center position-relative zindex-1">
                <h4><a class="text-dark" href="">Krishna Punjabi</a></h4>
                <i>Designer</i>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="card hover-shadow">
              <img
                src="../images/Muskan.jpeg"
                alt="team-member"
                class="card-img-top"
              />
              <div class="card-body text-center position-relative zindex-1">
                <h4><a class="text-dark" href="">Muskan Talreja</a></h4>
                <i>Developer</i>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="card hover-shadow">
              <img
                src="../images/Dinesh.jpeg"
                alt="team-member"
                class="card-img-top"
              />
              <div class="card-body text-center position-relative zindex-1">
                <h4><a class="text-dark" href="">Dinesh Ubrani</a></h4>
                <i>Manager</i>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="card hover-shadow">
              <img
                src="images/Khushi.jpeg"
                alt="team-member"
                class="card-img-top"
              />
              <div class="card-body text-center">
                <h4>Khushi Jeswani</h4>
                <i>CEO</i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /team -->

    <!-- about -->
    <section
      class="section-lg position-relative bg-cover about-us"
      style="margin-bottom: 170px"
    >
      <img
        src="../images/backgrounds/about-bg-overlay.png"
        alt="overlay"
        class="overlay-image img-fluid"
        style="z-index: -1"
      />
      <div class="container booking">
        <div class="row justify-content-between">
          <div class="col-lg-6 col-md-8 col-sm-7 col-8">
            <h2 class="text-white mb-4">Who We Are</h2>
            <p class="text-light mb-4">
              We at Event Bliss, an event planning company, are the architects
              of unforgettable experiences. We specialize in turning your dreams
              and visions into reality, crafting extraordinary events that leave
              an ever lasting impression. With an unwavering commitment to
              excellence, creativity, and attention to detail, we are the go-to
              team for all your event planning needs.
            </p>
            <a href="about.html" class="btn btn-primary">Book Now</a>
          </div>
          <!-- <div class="col-md-2 col-sm-4 col-4 text-right align-self-end">
        <a class="venobox" data-autoplay="true" data-vbtype="video"
          href="https://www.youtube.com/watch?v=jrkvirglgaQ"><i
            class="text-center icon-sm icon-box rounded-circle text-white bg-gradient-primary d-block ti-control-play"></i></a>
      </div> -->
        </div>
      </div>
    </section>
    <!-- /about -->

    <!-- project -->
    <section class="section">
      <div class="container-fluid px-0">
        <div class="row">
          <div class="col-lg-10 mx-auto text-center">
            <h2>Our Feature Works</h2>
            <div class="section-border"></div>
          </div>
        </div>
        <div class="row no-gutters shuffle-wrapper">
          <div class="col-lg-4 col-md-6 shuffle-item">
            <div class="project-item">
              <img
                src="images/c2.jpeg"
                alt="project-image"
                class="img-fluid w-100 p-1"
              />
              <!-- <div class="project-hover bg-secondary px-4 py-3">
            <a href="#" class="text-white h4">Project title</a>
            <a href="#"><i class="ti-link icon-xs text-white"></i></a>
          </div> -->
            </div>
          </div>
          <div class="col-lg-4 col-md-6 shuffle-item">
            <div class="project-item">
              <img
                src="images/s3.jpeg"
                alt="project-image"
                class="img-fluid w-100 p-1"
              />
              <!-- <div class="project-hover bg-secondary px-4 py-3">
            <a href="#" class="text-white h4">Project title</a>
            <a href="#"><i class="ti-link icon-xs text-white"></i></a>
          </div> -->
            </div>
          </div>
          <div class="col-lg-4 col-md-6 shuffle-item">
            <div class="project-item">
              <img
                src="images/s4.jpeg"
                alt="project-image"
                class="img-fluid w-100 p-1"
              />
              <!-- <div class="project-hover bg-secondary px-4 py-3">
            <a href="#" class="text-white h4">Project title</a>
            <a href="#"><i class="ti-link icon-xs text-white"></i></a>
          </div> -->
            </div>
          </div>
          <div class="col-lg-4 col-md-6 shuffle-item">
            <div class="project-item">
              <img
                src="images/wedding-event-2.jpeg "
                alt="project-image"
                class="img-fluid w-100 p-1"
              />
              <!-- <div class="project-hover bg-secondary px-4 py-3">
            <a href="#" class="text-white h4">Project title</a>
            <a href="#"><i class="ti-link icon-xs text-white"></i></a>
          </div> -->
            </div>
          </div>
          <div class="col-lg-4 col-md-6 shuffle-item">
            <div class="project-item">
              <img
                src="images/s1.jpg"
                alt="project-image"
                class="img-fluid w-100 p-1"
              />
              <!-- <div class="project-hover bg-secondary px-4 py-3">
            <a href="#" class="text-white h4">Project title</a>
            <a href="#"><i class="ti-link icon-xs text-white"></i></a>
          </div> -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /project -->

    <!-- call to action -->
    <section>
      <div
        class="container section-sm overlay-secondary-half bg-cover"
        style="background-image: url(../images/backgrounds/cta-bg.jpg);"
      >
        <div class="row" >
          <div class="col-lg-8 offset-lg-1" style="z-index:10">
            <h2 class="text-gradient-primary">Let's Start With Us!</h2>
            <p class="h4 font-weight-bold text-white mb-4">
              Lorem ipsum dolor sit amet, magna habemus ius ad
            </p>
            <a href="/chat" class="btn btn-lg btn-primary">Let's talk</a>
          </div>
        </div>
      </div>
    </section>
    <!-- /call to action -->

    <!-- pricing -->
    <!-- <section class="section pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <h2>Our Smart Pricing Table</h2>
        <div class="section-border"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
        <div class="card bottom-shape bg-secondary pt-4 pb-5">
          <div class="card-body text-center">
            <h4 class="text-white">Basic</h4>
            <p class="text-light mb-4">Besic and simple website</p>
            <p class="text-white mb-4">$ <span class="display-3 font-weight-bold vertical-align-middle">30</span></p>
            <ul class="list-unstyled mb-5">
              <li class="text-white mb-3">Mobile-Optimized Website</li>
              <li class="text-white mb-3">Powerful Website Metrics</li>
              <li class="text-white mb-3">Free Custom Domain</li>
              <li class="text-white mb-3">24/7 Customer Support</li>
              <li class="text-white mb-3">Fully Integrated E-Cormmerce</li>
              <li class="text-white mb-3">Sell unlimited Product</li>
            </ul>
            <a href="#" class="btn btn-outline-light">Try it now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
        <div class="card bottom-shape bg-secondary pt-4 pb-5">
          <div class="card-body text-center">
            <h4 class="text-white">Basic</h4>
            <p class="text-light mb-4">Besic and simple website</p>
            <p class="text-white mb-4">$ <span class="display-3 font-weight-bold vertical-align-middle">30</span></p>
            <ul class="list-unstyled mb-5">
              <li class="text-white mb-3">Mobile-Optimized Website</li>
              <li class="text-white mb-3">Powerful Website Metrics</li>
              <li class="text-white mb-3">Free Custom Domain</li>
              <li class="text-white mb-3">24/7 Customer Support</li>
              <li class="text-white mb-3">Fully Integrated E-Cormmerce</li>
              <li class="text-white mb-3">Sell unlimited Product</li>
            </ul>
            <a href="#" class="btn btn-outline-light">Try it now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
        <div class="card bottom-shape bg-secondary pt-4 pb-5">
          <div class="card-body text-center">
            <h4 class="text-white">Basic</h4>
            <p class="text-light mb-4">Besic and simple website</p>
            <p class="text-white mb-4">$ <span class="display-3 font-weight-bold vertical-align-middle">30</span></p>
            <ul class="list-unstyled mb-5">
              <li class="text-white mb-3">Mobile-Optimized Website</li>
              <li class="text-white mb-3">Powerful Website Metrics</li>
              <li class="text-white mb-3">Free Custom Domain</li>
              <li class="text-white mb-3">24/7 Customer Support</li>
              <li class="text-white mb-3">Fully Integrated E-Cormmerce</li>
              <li class="text-white mb-3">Sell unlimited Product</li>
            </ul>
            <a href="#" class="btn btn-outline-light">Try it now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
    <!-- /pricing -->

    <!-- blog -->
    <section class="section">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto text-center">
            <h2>Latest News</h2>
            <div class="section-border"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
            <article class="card">
              <img
                src="../images/blog/post-1.jpg"
                alt="post-thumb"
                class="card-img-top mb-2"
              />
              <div class="card-body p-0">
                <time>January 15, 2018</time>
                <a
                  href="blog-single"
                  class="h4 card-title d-block my-3 text-dark hover-text-underline"
                  >How These Different Book Covers Reflect the Design</a
                >
                <a href="#" class="btn btn-transparent">Read more</a>
              </div>
            </article>
          </div>
          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
            <article class="card">
              <img
                src="../images/blog/post-2.jpg"
                alt="post-thumb"
                class="card-img-top mb-2"
              />
              <div class="card-body p-0">
                <time>January 15, 2018</time>
                <a
                  href="blog-single"
                  class="h4 card-title d-block my-3 text-dark hover-text-underline"
                  >How These Different Book Covers Reflect the Design</a
                >
                <a href="#" class="btn btn-transparent">Read more</a>
              </div>
            </article>
          </div>
          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
            <article class="card">
              <img
                src="../images/blog/post-3.jpg"
                alt="post-thumb"
                class="card-img-top mb-2"
              />
              <div class="card-body p-0">
                <time>January 15, 2018</time>
                <a
                  href="blog-single"
                  class="h4 card-title d-block my-3 text-dark hover-text-underline"
                  >How These Different Book Covers Reflect the Design</a
                >
                <a href="#" class="btn btn-transparent">Read more</a>
              </div>
            </article>
          </div>
        </div>
      </div>
    </section>
    <!-- /blog -->

    <!-- footer -->
    <footer class="bg-secondary position-relative">
      <img
        src="../images/backgrounds/map.png"
        class="img-fluid overlay-image"
        alt=""
        style="z-index: 0;"
      />
      <div class="section">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-3 col-6">
              <h4 class="text-white mb-5">About</h4>
              <ul class="list-unstyled">
                <li><a href="#" class="text-light d-block mb-3">Service</a></li>
                <li>
                  <a href="#" class="text-light d-block mb-3">Conatact</a>
                </li>
                <li>
                  <a href="#" class="text-light d-block mb-3">About us</a>
                </li>
                <li><a href="#" class="text-light d-block mb-3">Blog</a></li>
                <li><a href="#" class="text-light d-block mb-3">Support</a></li>
              </ul>
            </div>
            <div class="col-md-3 col-6">
              <h4 class="text-white mb-5">Company</h4>
              <ul class="list-unstyled">
                <li><a href="#" class="text-light d-block mb-3">Service</a></li>
                <li>
                  <a href="#" class="text-light d-block mb-3">Conatact</a>
                </li>
                <li>
                  <a href="#" class="text-light d-block mb-3">About us</a>
                </li>
                <li><a href="#" class="text-light d-block mb-3">Blog</a></li>
                <li><a href="#" class="text-light d-block mb-3">Support</a></li>
              </ul>
            </div>
            <div class="col-md-6" style="z-index: 10;">
              <div class="bg-white p-4" >
                <h3>Review Our Service</h3>
                <form action="#" >
                  <input
                    type="text"
                    id="name"
                    name="name"
                    class="form-control mb-4 px-0"
                    placeholder="Full name"
                  />
                  <input
                    type="text"
                    id="name"
                    name="name"
                    class="form-control mb-4 px-0"
                    placeholder="Email address"
                  />
                  <textarea
                    name="message"
                    id="message"
                    class="form-control mb-4 px-0"
                    placeholder="Review"
                  ></textarea>
                  <button class="btn btn-primary" type="submit">Send</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pb-4">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6 text-center text-md-left">
              <p class="text-light mb-0">
                Copyright &copy; 2019 a theme by
                <a class="text-gradient-primary" href="https://themefisher.com"
                  >themefisher.com</a
                >
              </p>
            </div>
            <div class="col-md-6">
              <ul class="list-inline text-md-right text-center">
                <li class="list-inline-item">
                  <a class="d-block p-3 text-white" href="#"
                    ><i class="ti-facebook"></i
                  ></a>
                </li>
                <li class="list-inline-item">
                  <a class="d-block p-3 text-white" href="#"
                    ><i class="ti-twitter-alt"></i
                  ></a>
                </li>
                <li class="list-inline-item">
                  <a class="d-block p-3 text-white" href="#"
                    ><i class="ti-instagram"></i
                  ></a>
                </li>
                <li class="list-inline-item">
                  <a class="d-block p-3 text-white" href="#"
                    ><i class="ti-github"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- /footer -->

    <!-- jQuery -->
    <script src="plugins/jQuery/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="plugins/bootstrap/bootstrap.min.js"></script>
    <!-- slick slider -->
    <script src="plugins/slick/slick.min.js"></script>
    <!-- venobox -->
    <script src="plugins/venobox/venobox.min.js"></script>
    <!-- shuffle -->
    <script src="plugins/shuffle/shuffle.min.js"></script>
    <!-- apear js -->
    <script src="plugins/counto/apear.js"></script>
    <!-- counter -->
    <script src="plugins/counto/counTo.js"></script>
    <!-- card slider -->
    <script src="plugins/card-slider/js/card-slider-min.js"></script>
    <!-- google map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU&libraries=places"></script>
    <script src="plugins/google-map/gmap.js"></script>

    <!-- Main Script -->
    <script src="../js/script.js"></script>
  </body>
</html>
